body{
    background-color: lightgoldenrodyellow;
    color:darkblue;
    font-family: 'Courier New', Courier, monospace;
}

h1, h2, p {
    text-align: center;
}
.container{
    text-align: center;
}
.home-image{
    width:30%;
}
